$body-bg: rgb(255, 245, 234);
$body-color: rgb(30, 30, 30);
$primary: rgb(92, 168, 76);
$secondary: rgb(245, 245, 245);

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

#exampleModal {background: rgba(0, 0, 0, 0.5);}

@import"../node_modules/bootstrap/scss/bootstrap";